<section class="about">
    <div>
        <h2 class="title boarder">
        What is The Forum
        </h2>
    </div>
    <div>
        <p>
        butcher selfies chambray shabby chic gentrify readymade yr Echo Park XOXO Tumblr normcore Banksy direct trade  Blue Bottle chillwave you probably haven't heard of them single-origin coffee Vice fanny pack fixie Odd Future Austin fingerstache pickled twee synth Wes Anderson Thundercats viral bitters flannel meggings narwhal Marfa Schlitz sustainable Intelligentsia umami deep v craft
        </p>
    </div>
</section>

<div class="ui two stackable cards">
    <div class="card">
        <div class="image">
            <img src="/public/images/gardening.jpg">
        </div>
        <div class="content">
            <a class="header" href="#">Gardening</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/public/images/movies.jpg">
        </div>
        <div class="content">
            <a class="header" href="#">Movies</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="public/images/sale.jpg">
        </div>
        <div class="content">
            <a class="header" href="#">For Sale/Trade</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="public/images/sports.jpg">
        </div>
        <div class="content">
            <a class="header" href="#">Sports</a>
        </div>
    </div>
</div>