{{#each}}
    <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
            <a class="header">{{post-title}}</a>
        <div class="description">{{ format_date created_at }}</div>
        </div>
    </div>
{{/each}}