<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>
        The Forum
        <div class="sub header">where people can talk about anything</div>
      </h1>
      <nav>
      <div>
        <form>
          <button type="submit">Login</button>
          <button type="submit">Sign Up</button>
        </form>
      </div>
      </nav>
    </header>
  </div>

  <main class="page_content">
    {{{ body }}}
  </main>

  <footer>
    <h3>
    The Forum by <a href="">Chad Rotruck</a>, <a href="">Debbie Hall</a>, and <a href="">Logan Davis</a>.
    </h3>
  </footer>

</body>
</html>
