<div class="ui grid">
    <div class="ui large vertical menu four wide column">
        <div class="item">
          <img class="ui mini image" src="/images/logo.jpg">
        </div>
        <a class="active item">
          <div class="ui small label">1</div>
          Posts
        </a>
        <a class="item">
          <div class="ui small label">51</div>
          Comments
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
    </div>

      <div class="ui relaxed divided list twelve wide column">
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <a class="header">Semantic-Org/Semantic-UI</a>
            <div class="description">Updated 10 mins ago</div>
          </div>
        </div>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
            <div class="description">Updated 22 mins ago</div>
          </div>
        </div>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
            <div class="description">Updated 34 mins ago</div>
          </div>
        </div>
      </div>
</div>