    <div class="ui large vertical menu">
        <div class="item">
          <img class="ui mini image" src="/images/logo.jpg">
        </div>
        <a class="active item">
          <div class="ui small label">1</div>
          Posts
        </a>
        <a class="item">
          <div class="ui small label">51</div>
          Comments
        </a>
        <a class="item">
          <div class="ui small label">1</div>
          Updates
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>