<section class="about">
  <div>
    <h2 class="title boarder">
      What is The Forum
    </h2>
  </div>
  <div>
    <p>
      butcher selfies chambray shabby chic gentrify readymade yr Echo Park XOXO
      Tumblr normcore Banksy direct trade Blue Bottle chillwave you probably
      haven't heard of them single-origin coffee Vice fanny pack fixie Odd
      Future Austin fingerstache pickled twee synth Wes Anderson Thundercats
      viral bitters flannel meggings narwhal Marfa Schlitz sustainable
      Intelligentsia umami deep v craft
    </p>
  </div>
</section>

<<<<<<< HEAD
{{> group-cards group}}
=======
<div class="ui two stackable cards">
  {{#each groups as |group|}}
    {{> group-cards group }}
  {{/each}}
</div>


{{!-- {{> group-cards groups}} --}}
>>>>>>> 0301aa1a17824ce442c4b678cebf5021ea59c54e

{{> modals }}
