<section class="about">
  <div>
    <h2 class="title boarder">
      What is The Forum
    </h2>
  </div>
  <div>
    <p>
We created The Forum because we wanted to provide people with a place where they feel comfortable discussing the topics that they are most interested in.
Please feel free to sign up for an account, log in and contribute to any of the topics below! And don't worry - your password will be fully encrypted and protected within our system.
    </p>
  </div>
</section>

<div class="ui two stackable cards">
  {{#each groups as |group|}}
    {{> group-cards group }}
  {{/each}}
</div>
