<section class="about">
  <div>
    <h2 class="title boarder">
      What is The Forum
    </h2>
  </div>
  <div>
    <p>
      butcher selfies chambray shabby chic gentrify readymade yr Echo Park XOXO
      Tumblr normcore Banksy direct trade Blue Bottle chillwave you probably
      haven't heard of them single-origin coffee Vice fanny pack fixie Odd
      Future Austin fingerstache pickled twee synth Wes Anderson Thundercats
      viral bitters flannel meggings narwhal Marfa Schlitz sustainable
      Intelligentsia umami deep v craft
    </p>
  </div>
</section>

{{> group-cards}}

{{> modals }}