<section class="about">
  <div>
    <h2 class="title boarder">
      What is The Forum
    </h2>
  </div>
  <div>
    <p>
      This is a site that will allow users to chat and responde to various topics.
    </p>
  </div>
</section>

<div class="ui two stackable cards">
  {{#each groups as |group|}}
    {{> group-cards group }}
  {{/each}}
</div>
