<div>
  <h2 class="title boarder">
    {{group.group_name}}
  </h2>
</div>

<div class="ui relaxed divided list">
  {{#each group.posts as |post|}}
    {{> post post }}
  {{/each}}
</div>

{{#if loggedIn}}
  <h3 id="new-post-form" class="ui top attached header">Add a new post</h3>
  <div class="ui attached segment">
    <form class="ui form">
      <div class="field">
        <label for="post-title">Post Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div class="field">
        <label for="post-text">Post Text</label>
        <textarea id="post-text" name="post-text"></textarea>
      </div>
      <button id="post-button" class="ui button" type="submit">Add Post</button>
    </form>
  </div>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/add-post.js"></script>
{{/if}}
