<div>
    <h2 class="title boarder">
      Group Title
    </h2>
</div>

<div class="ui relaxed divided list twelve wide column">
    <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
            <a class="header">Semantic-Org/Semantic-UI</a>
        <div class="description">Updated 10 mins ago</div>
        </div>
    </div>
    <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
        <div class="description">Updated 22 mins ago</div>
        </div>
    </div>
    <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
        <div class="description">Updated 34 mins ago</div>
        </div>
    </div>
</div>

<h3 class="ui top attached header new-post-form">Add a new post</h3>
  <div class="ui attached segment">
    <form class="ui form">
      <div class="field">
        <label for="post-title">Post Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div class="field">
        <label for="post-text">Post Text</label>
        <textarea id="post-text" name="post-text"></textarea>
      </div>
      <div id="post-submit" class="ui labeled submit icon button">
        <i class="icon edit"></i> Add Post
      </div>
    </form>
  </div>

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}