:root {
  --first-color: #2c3531;
  --second-color: #116466;
  --third-color: #d9b08c;
  --fourth-color: #ffcb9a;
  --fifth-color: #d1e8e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px 35px;
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 30px;
}

header h1 {
  font-weight: bolder;
  font-size: 60px;
  color: var(--fifth-color);
}

header h1 div {
  font-weight: bold;
  font-size: 25px;
  color: var(--fifth-color);
}

header nav {
  margin: 7px 0;
}

header nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav button {
  background-color: var(--first-color);
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav button:hover {
  background: var(--third-color);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.title {
  font-size: 46px;
  border-bottom: 3px solid;
  border-color: var(--third-color);
  color: var(--second-color);
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.about p {
  line-height: 1.7;
  color: var(--second-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.page_content {
  margin: 20px;
}

footer {
  background-color: var(--second-color);
  flex: 0 0 50px;
  margin-top: auto;
  width: 100%;
  padding: 25px 0;
}

footer h3 {
  text-align: center;
  width: 100%;
  color: var(--fifth-color);
}

footer a {
  color: var(--fifth-color);
}

footer a:hover {
  color: var(--third-color);
}
